body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{
	margin:0;
	padding:0;
	font-size: 14px;
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
/* 	font:14px,"Microsoft YaHei","PingFang SC Regular","MicrosoftJhengHei",STHeiti,MingLiu,Arial; */
}
body,html{
	height:100%;
	width:100%;
	overflow: hidden;
}

body{
	background-color: #F5F8FB;
	-webkit-text-size-adjust:100%;
}

#app {height: 100%;}

a{
	color:#666B74;
	text-decoration:none;
}
a:hover{
	color:#9153f1;
}

em{
	font-style:normal;
	color:red;
}
li{
	list-style:none;
}
img{
	border:0;
	vertical-align:middle;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
p{
	word-wrap:break-word
}

.clearfix,.row { 
	*zoom: 1; 
} 
.clearfix:before,.input-group:after, .clearfix:after,.row:after,.mask_tab-block:after { 
	display: table; 
	line-height: 0; 
	content: ""; 
} 
.clearfix:after,.input-group:after,.row:after,.mask_tab-block:after { 
	clear: both; 
} 


[v-cloak] {
  display: none !important;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee
}
.border-lineb {
	border-bottom: 1px solid #DFE5EA
}



i, cite, em, var, address, dfn {
    font-style: italic;
}


.text-left {
	text-align: left
}

.text-right {
	text-align: right
}

.text-center {
	text-align: center
}

.pull-right {
	float: right!important
}

.pull-left {
	float: left!important
}

.hide {
	display: none!important
}

.show {
	display: block!important
}


/*字体颜色 By Heliping*/
.white,.white a {color:#dae2ea;}
.white a {color:#ffffff;}




/*必填信息为错时 By Heliping*/
.wrong,.correct{
    color: #FF6663;
    min-height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 20px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 15px;
    padding-right: 25px;
  }
.wrong:after,.correct:after {
	width: 20px;
	height: 20px;
	line-height: 20px;
	content: "\ea3f";
	font-family: "hxqheam";
    display: inline-block;
    position: absolute;
    right: 0px;
}

/*必填信息为对时 By Heliping*/
.correct{
    color: #00D983;
  }
.correct:after {
	content: "\e9de";
}

/*常用内外边距*/
/*内外边距*/
.ml5 {margin-left:5px !important;}
.mr5 {margin-right:5px !important;}
.mt5 {margin-top:5px !important;}
.mb5 {margin-bottom:5px !important;}

.ml10 {margin-left:10px !important;}
.mr10 {margin-right:10px !important;}
.mt10 {margin-top:10px !important;}
.mb10 {margin-bottom:10px !important;}

.ml20 {margin-left:20px !important;}
.mr20 {margin-right:20px !important;}
.mt20 {margin-top:20px !important;}
.mb20 {margin-bottom:20px !important;}

.ml30 {margin-left:30px !important;}
.mr30 {margin-right:30px !important;}
.mt30 {margin-top:30px !important;}
.mb30 {margin-bottom:30px !important;}

.pl5 {padding-left:5px !important;}
.pr5 {padding-right:5px !important;}
.pt5 {padding-top:5px !important;}
.pb5 {padding-bottom:5px !important;}

.pl10 {padding-left:10px !important;}
.pr10 {padding-right:10px !important;}
.pt10 {padding-top:10px !important;}
.pb10 {padding-bottom:10px !important;}

.pl20 {padding-left:20px !important;}
.pr20 {padding-right:20px !important;}
.pt20 {padding-top:20px !important;}
.pb20 {padding-bottom:20px !important;}

.pl30 {padding-left:30px !important;}
.pr30 {padding-right:30px !important;}
.pt30 {padding-top:30px !important;}
.pb30 {padding-bottom:30px !important;}

/*数量气泡提示*/
.el-badge__content {border: none;}


/*上下布局*/
.headerbg { width:100%; height:100px; position: fixed; z-index: 999;}
.contentbg { padding-top: 100px; height: 100%; }
	.wrapper {
		width: 100%;
		height: 100%;
		padding-left: 220px;
		position: relative;
	}
	.accordion {margin:15px; margin-bottom: 20px;}
	.ibox-content {
		background-color: #F5F8FB;
		color: inherit;
		padding: 10px 10px 20px 10px;
		border-color: #e7eaec;
		-webkit-border-image: none;
		-o-border-image: none;
		border-image: none;
		border-style: solid solid none;
		border-width: 1px 0px;
	}


/* .ibox-content {
		padding: 10px 10px 20px 10px;
	} */





.el-dropdown {cursor: pointer;}


/*增删改查按钮操作行*/
.fixed-table-toolbar{
    position: relative;
    padding-bottom: 11px;
    min-height: 30px;
    line-height: 30px;
}

.fixed-table-toolbar .columns {
    position: relative;
    height: 30px;
}



/*------------------------------修改ElementUI By heliping*/
/*TableList*/
.el-table, .el-table__expanded-cell {
	box-shadow:0px 0px 3px 2px rgba(0,0,0,0.03);
	border-radius:4px;
}
.el-table thead {
	color:#747D8C;
	font-size: 12px;
	font-weight: normal;
}



/*Checkbox by heliping*/
.el-checkbox__inner {
	width: 18px; 
	height: 18px; 
	border-radius:4px; 
	border-color: #C7CED6;
	/*background-color: #FFFFFF !important;
	background-color: #DFE5EA !important;*/
}
.el-checkbox__input.is-focus .el-checkbox__inner {
	border-color:#8996F1;
}
.el-checkbox__inner::after {
	left: 6px;
	top: 3px;
}
.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner
{
	background-color: #8996F1;
	border-color: #8996F1;
}

/*Radio by heliping*/
.el-radio__inner {
	width: 18px; 
	height: 18px;
}
.el-radio__inner::after {
    width: 8px;
    height: 8px;
}




/*表单页标题调整 heliping*/
.el-form--label-top .el-form-item__label {padding-top: 20px; padding-bottom: 5px; line-height:20px;}
.el-form-item {
    margin-bottom: 5px;
}
.el-textarea__inner {padding-left: 5px; padding-right: 5px;}


/*------------------------左侧菜单样式调整 By Heliping------------------------*/
.navbar-static-side{
	float: left;
    width: 220px;
    height: 100%;
    position: fixed;
    background: linear-gradient(360deg,rgba(160, 120, 240, 1) 0%,rgba(65, 105, 218, 1) 100%);
    z-index: 1000;
}

.slimScrollDiv{
	position: relative;
    width: auto;
    height: 92%;
}

.navbarbg, .navbarbg a {
    color: #FFF;
}

.navbarbg {
    height: 40px;
    text-align: right;
    padding-right: 15px;
}
.navs>li {
    margin: 0px 10px;
}
.navs > li > a {
    color: #fff;
    display: block;
    padding: 14px 10px 14px 10px;
    border-radius:4px;
}

.navs > li > a:hover,.navs > li > a.router-link-active{background:rgba(97,131,226,.7);}

.navs > li > a i[class*=icon-] {
    font-size: 16px;
}
.navs > li > a i {
    margin-right: 6px;
}
.minimalize-styl-2 {
    font-size: 14px;
    color: #FFFFFF;
    line-height: 40px;
    cursor: pointer;
}
.nav>li {
    margin: 0px 10px;
}
.nav > li > a i[class*=icon-] {
    font-size: 16px;
}

.nav > li > a i {
    margin-right: 6px;
}


/*.el-aside {
	height: 100%;
	position: relative;
}
 .el-radio-group {
	position: absolute;
    z-index: 66;
    right: 15px;
    top: 10px;
} 
.el-menu {
	height: 100%;
	border-right: none; background: linear-gradient(360deg,rgba(160, 120, 240, 1) 0%,rgba(65, 105, 218, 1) 100%);
	 background-color:rgba(65, 105, 218, 1);  
}
.el-submenu__title i,.el-menu-item i { color: inherit; }
.el-submenu__title,.el-menu-item {color: #dae2ea;}
.el-menu-item.is-active {color: #FFFFFF; font-weight: bold;}
.el-menu-item-group__title {color: #c2a2d2;}
.el-menu-item:focus, .el-menu-item:hover,.el-submenu__title:hover {background-color:rgba(97,131,226,.7); border-radius:5px;}

.el-menu-item, .el-submenu__title {
	height: 40px;
    line-height: 40px;
    margin-top: 10px;
}

.el-menu--collapse>div .el-menu-item span, .el-menu--collapse>div .el-submenu>.el-submenu__title span {
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
}*/

